/* site fonts */
@font-face {
    font-family: 'believer';
    src: url('fonts/believer.eot');
    src: url('fonts/believer.eot?#iefix') format('embedded-opentype'),
         url('fonts/believer.woff2') format('woff2'),
         url('fonts/believer.woff') format('woff'),
         url('fonts/believer.ttf') format('truetype'),
         url('fonts/believer.svg#believer') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hack';
    src: url('fonts/hack.eot');
    src: url('fonts/hack.eot?#iefix') format('embedded-opentype'),
         url('fonts/hack.woff2') format('woff2'),
         url('fonts/hack.woff') format('woff'),
         url('fonts/hack.ttf') format('truetype'),
         url('fonts/hack.svg#hack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'glacial';
    src: url('fonts/glacial.eot');
    src: url('fonts/glacial.eot?#iefix') format('embedded-opentype'),
         url('fonts/glacial.woff2') format('woff2'),
         url('fonts/glacial.woff') format('woff'),
         url('fonts/glacial.ttf') format('truetype'),
         url('fonts/glacial.svg#glacial') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'wheel';
    src: url('fonts/wheel.eot');
    src: url('fonts/wheel.eot?#iefix') format('embedded-opentype'),
         url('fonts/wheel.woff2') format('woff2'),
         url('fonts/wheel.woff') format('woff'),
         url('fonts/wheel.ttf') format('truetype'),
         url('fonts/wheel.svg#wheel') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fifteen';
    src: url('fonts/fifteen.eot');
    src: url('fonts/fifteen.eot?#iefix') format('embedded-opentype'),
         url('fonts/fifteen.woff2') format('woff2'),
         url('fonts/fifteen.woff') format('woff'),
         url('fonts/fifteen.ttf') format('truetype'),
         url('fonts/fifteen.svg#fifteen') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* site elements */ 

body {
    background-color: #2d2d2d;
    font-family: "glacial";
    font-size: 14.5pt;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

h1 {
    font-size: 32px;
    font-size: 2rem;
}
h2 {
    font-size: 24px;
    font-size: 1.5rem;
}
h3 {
    font-size: 20px;
    font-size: 1.25rem;
}
h4 {
    font-size: 16px;
    font-size: 1rem;
}
h5 {
    font-size: 14px;
    font-size: .875rem;
}
h6 {
    font-size: 12px;
    font-size: .75rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

pre, code {
  font-family: inherit;
  font-size: inherit;
}

a {
    outline: 0;
}

/* boxes */

#navigation {
    width: 20%;
    background: rgba(242, 119, 122, 0.25);
    border-radius: 0.5em 0.0em 0.0em 0.5em;
    margin-right: 1vw;
    margin-bottom: 1vh;
        margin-left: 4vh;
    float: left;
}
#navigation:hover {
    width: 20%;
    background: rgba(45, 45, 45, 0.25);
    border-radius: 0.5em 0.0em 0.0em 0.5em;
    margin-right: 1vw;
    margin-bottom: 1vh;
    margin-left: 4vh;
    float: left;
}
#wrapmain {
    width: 85%;
    margin-left: auto;
    padding-left: 2vw;
    margin-right: auto;
    height: 95%;
}
#main {
    width: 75%;
    margin-left: auto;       
    margin-right: 1in;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: #e7e5e5;
    min-height: 6in;
    border-radius: 0.0em 0.75em 0.75em 0.75em;  
 }
#main img, figure img {
    border-style: inset;
    border-color: rgba(45, 45, 45, 0.25);
    border-width: thick;
    margin: 1%;
    border-radius: 0.0em 0.75em 0.75em 0.75em; 
}
#main img:hover, figure img:hover {
    border-style: dotted;
    border-color: rgba(242, 119, 122, 0.25);
    border-width: thick;
    margin: 1%;
    border-radius: 0.0em 0.75em 0.75em 0.75em; 
}
 
div.article-list h2.headline {
    text-shadow: 2px 2px silver;
    color: #2d2d2d;
    text-decoration: none;
    border-bottom: none;
}
div.article-list h2.headline a:hover {
    text-shadow: 2px 2px #2e2c27;
    color: #7898b8;
    text-decoration: none;
    border-bottom: none;
}
h1.nonart {
    font-family: "believer";
    font-size: 28pt;
    text-align: right;
    letter-spacing: 0.1em;
    color: #7898b8;
    right: 0;
    border-bottom: 1px solid #f2777a;
}
h1.nonart:hover {
    font-family: "believer";
    font-size: 28pt;
    text-align: right;
    letter-spacing: 0.1em;
    color: #f2777a;
    border-bottom: 1px solid #7898b8;
}
div.nonarthd {
    display: inline-block;
    margin-left: 45%;
    padding-top: 1%;
    max-width: 45%;
}
.summary {
    padding: 1em;
    border-bottom: 1px dashed rgba(242, 119, 122, 0.25);
    font-size: 15pt;
    line-height: 16pt;
    text-indent: 0.5em;
    color: #2e2c27;
}
#readmore {
    margin-top: 1vh;
    text-align: right;
    margin-left: auto;
    padding-right: 5px;
    font-family: "believer";
}
.summary a, .summary a:visited {
    color: #f2777a;
    text-decoration: none;
    text-align: right;
}
.summary a:hover {
    color: #99cc99;
    text-decoration: none;
    text-align: right;
}
/* --future use--
   .inv {
    height: 60px;
    width: 210px;
    margin: 25px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.inv:before {
    content: "";
    display: block;
    background: #fff;
    position: absolute;
    top: -9px;
    left: -9px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}
.inv:after{
    content: "";
    display: block;
    position: absolute;
    top: -9px;
    right: -9px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}
.inv .invbtm:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -9px;
    left: -9px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}
.box .invbtm:after{
    content: "";
    display: block;
    position: absolute;
    bottom: -9px;
    right: -9px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}
div {
    display: -webkit-flex; 
    -webkit-align-items: center; 
    display: flex;
    align-items: center;
} 
*/
footer #copycrumbs {
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 6vh;
    padding-bottom: 6vh;
    background-color: transparent;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: #99cc99;
    width: 68%;
}

footer #copycrumbs:hover {
    background: rgba(242, 119, 122, 0.25);
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    color: #7898b8;
}

footer #copycrumbs .copyright {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
footer #copycrumbs .copyrightrans {
    font-family: "believer";
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 13pt;
    color: rgba(242, 119, 122, 0.25);
    background: rgba(242, 119, 122, 0.25);
}
footer #copycrumbs .copyrightrans {
    font-family: "believer";
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 13pt;
    color: #2d2d2d;
    background: #2d2d2d;
}
footer:hover #copycrumbs .copyrightrans, footer #copycrumbs .copyrightrans a {
    font-family: "believer";
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 13pt;
    color: #2d2d2d;
    background: transparent;
    text-decoration: none;
}
footer:hover #copycrumbs .copyrightrans a:hover {
    font-family: "believer";
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 13pt;
    color: #99cc99;
    background: transparent;
}

header {
    width: 100%;
    padding-top: 0;
    padding-bottom: 1.5vh;
    background-color: transparent;

}


    /* -- banner */
.oversite {
    display: block;
    font: 110px/1 "fifteen";
    outline-style: dashed;
    outline-color: #2d2d2d;
    border: none;
    -webkit-transform:scale(1.0,1.0);
    -moz-transform:scale(1.0,1.0);
    -ms-transform:scale(1.0,1.0);
    -o-transform:scale(1.0,1.0);
    transform:scale(1.0,1.0);
    font-size: 20vmin;
    font-weight: bold;
    padding: 0;

}
.oversite:hover {
    display: block;
    font: 110px/1 "fifteen";
    -webkit-transform:scale(1.0,-1.0);
    -moz-transform:scale(1.0, -1.0);
    -ms-transform:scale(1.0, -1.0);
    -o-transform:scale(1.0, -1.0);
    transform:scale(1.0, -1.0);
    font-size: 20vmin;
    font-weight: bold;
    margin-right: 1vmin;
    padding: 0;
}

#toppo {
    text-align: center;
    margin: auto;
    margin-bottom: -1vh;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    width: 100%;
}
.bnr0 {
    letter-spacing: 3ch;
   
}

.bnra {
    color: #d3d0c8;
    font-family: "fifteen";
    
}
.bnra2 {
    color: #d3d0c8;
    font-family: "fifteen";
    
}
.bnrb {
    color: #f2777a;
    font-family: "fifteen";
}
.bnrb:hover {
    color: #7898b8;
    font-family: "fifteen";
}
.bnrc {
    color: #99cc99;
    font-family: monospace;
}
.bnrc:hover {
    color: #f2777a;
    font-family: monospace;
}

.headerimg {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  outline-style: dashed;
  outline-color: #2d2d2d;
  border: none;
}

.headerimg img {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  border: 0;
  outline: 0;
  outline-style: dashed;
  outline-color: #2d2d2d;
  border: none;
}



    /* -- left sidebar */

.mast, .cats {
    font-family: "hack";
    font-size: 16pt;
    color: #99cc99;
}

.catsul {
    list-style-type: none;
}

.mast a, .mast a:visited, .cats a, .cats a:visited, .etcnav li a, .etcnav li a:visited {
    color: #99cc99;
    text-decoration: none;
}
.mast a:hover, .cats a:hover, .tags a:hover, .etcnav li a:hover {
    color: #7898b8;
    text-decoration: none;
}

.tags a, .tags a:visited {
    color: #d3d0c8;
    text-decoration: none;
    border-bottom: 1px dotted #d3d0c8;
}

.tags a:hover {
    font-size: 14pt;
}

h3.tagsh {
    font-family: "believer";
    font-size: 18pt;
    color: #7898b8;
    text-align: center;
    margin-bottom: 0.5em;
}

.tags {
    font-family: "glacial";
    color: #e7e5e5;
    font-size: 7pt;
    margin-left: 10%;
}

a.tags {
    padding-right: 10px;
}

    /* -- article */

article.single section,
.article-list article {
  padding-left: 128px;
  padding-left: 8rem;
  padding-right: 128px;
  padding-right: 8rem;
  padding-top: 16px;
  padding-top: 1rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
}

/* 404 Page Layout */

.page-not-found h1 {
  text-align: center;
  font-size: 5em;
}

.page-not-found h2 {
  text-align: center;
  font-size: 3em;
  color: #a09f93;
  margin-bottom: 64px;
  margin-bottom: 4rem;
}

@media (max-width: 52em) {
  .page-not-found h1 {
    font-size: 3em;
  }

  .page-not-found h2 {
    font-size: 2em;
  }
}

/* Homepage Layout */

@media (max-width: 52em) {
  .homepage {
    margin-bottom: 2rem;
  }
}

.homepage h1.site-title {
  text-align: center;
  font-size: 5em;
  color: #66cccc;
}

h1.headline {
    font-family: "hack";
    color: #2d2d2d;
    font-size: 1.8em;
    text-align: right;
}

h1.headline a {
    color: #2d2d2d;
    text-decoration: none;
}

h1.headline a:visited {
    color: #2d2d2d;
    text-decoration: none;

}

h2.headline {
    font-family: "hack";
    color: #2d2d2d;
    font-size: 1.69em;
    text-align: right;
}

h2.headline a {
    color: #2d2d2d;
    text-decoration: none;
}

h2.headline a:visited {
    color: #2d2d2d;
    text-decoration: none;
    border-bottom: 1px dotted #99cc99;
}

h2.headline a:hover {
    color: #99cc99;
    text-decoration: none;
    border-bottom: 1px dotted #2d2d2d;
}

.container {
  margin-right: auto;
  margin-left: auto;
  
}

.meta {
    text-align: right;
    font-size: 0.45em;
    border-bottom: 1px dotted rgba(242, 119, 122, 0.25);
    font-family: "hack";
    width: 25%;
    margin-right: 0;
    color: #f2777a;
    margin-left: auto;
}

.metart {
    text-align: right;
    font-size: 0.45em;
    border-bottom: 1px dotted rgba(242, 119, 122, 0.25);
    font-family: "hack";
    width: 25%;
    margin-right: 50px;
    color: #f2777a;
    margin-left: auto;
}

.metart a {
    color: #7898b8;
    text-decoration: none;
}

.metart a:hover {
    color: #2d2d2d;
    border-bottom: 1px dotted #7898b8;
}

#navigation ul {
    list-style-type: none;
    margin-top: -10px;
    margin-right: 6vw;
}

#navigation ul li {
    text-align: right!important;
}


#spacer {
    margin-right: 2vw;
    height:100%;
}

.etcnav {
    font-size: 1.4em;
    float: right;
    text-align: right;
}

section.body {
    margin: 2%;
}
#mail {
    font-family: "believer";
    color: #d3d0c8;
    font-size: 16pt;
    margin: 5%;
    border: 1px dashed #d3d0c8;
    width: 390px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#mail label {
    font-family: "believer";
}
#mail input {
    background-color: #7898b8;
}
#mail .formfield {
    font-family: glacial;
    margin-left: auto;
    margin-right: auto;
}

#mail .formfieldname {
    font-family: glacial;
    margin-left: 5%;
}
#abt {
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 25%;
    color: #99cc99;
    font-size: 1.2em;
    
}

#abt h4 {
    color: #7898b8;
    font-size: 1.5em;
    font-family: "believer";
}

#abt h5 {
    color: #f2777a;
    font-size: 1.5em;
    font-family: "glacial";
}

#abt a {
    color: #7898b8;
    border-bottom: 1px dashed #99cc99;
    text-decoration: none;
}

#abt a:hover {
    color: #99cc99;
    border-bottom: 1px dashed #7898b8;
    text-decoration: none;
}

#abt ul {
    font-family: "hack";
    font-size: 0.9em;
    color: #d3d0c8;
}

#abt ul li {
    margin: 15px;
}

#abt .cls {
    text-align: center;
    font-family: "believer";
    font-size: 20pt;
}

#abtcls {
    margin-left: 1%;
    position: fixed;
    right: 0;
    top: 0;
}


#space {
    height: 20%;
    min-height: 0.3in;
}

#submissions {
    margin-top: 2%;
    margin-bottom: 2%;

}

figure img.right {
    float: right;
    margin: 1vmin;
}

figure {
    width: 50%;
    text-overflow: clip;
    margin-left: auto;
    margin-right: auto;
    
}

figure h4 {
    font-size: 0.55em;
    font-family: "hack";
    margin: 1vmin;
    color: #2d2d2d;
    text-align: justify;
}

section.body a {
    color: #7898b8;
    text-decoration: none;
}

section.body a:hover {
    color: #2d2d2d;
    text-decoration: overline;
}

section.body a:focus {
    color: #99cc99;
    text-decoration: underline;
}

section.body h3 {
    text-align: right;
    font-family: "hack";
    margin-top: -2vh;
    color: #7898b8;
    
}

.navbar {
    border-radius: 0;
	text-transform: uppercase;
	margin-bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 100
}

.navbar-inverse {
	background-color: #99cc99;
    padding-bottom: 40px;
    padding-top: 40px;
}

.navbar-brand {
	font-weight: 700;
	font-size: 20px;
    height: 35px;
    line-height: 35px;
	letter-spacing: 2px;
    margin: 0;
    padding: 0
}

.navbar-inverse .navbar-brand {
	color: white;
}

.progress-indicator {
    position: fixed;
    top: 10px;
    right: 20px;
    width: 100px;
    height: 100px;
    z-index: 20;
}
.progress-count {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    color: #99cc99;
    font-family: "believer";
}

svg {
    position: absolute;
}

circle {
    fill: rgba(45, 45, 45, 0.25);
}

svg .animated-circle {
    fill: transparent;
    stroke-width: 40px;
    stroke: #f2777a;
    stroke-dasharray: 126;
    stroke-dashoffset: 126;
}