/* --future use--
   .inv {
    height: 60px;
    width: 210px;
    margin: 25px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.inv:before {
    content: "";
    display: block;
    background: #fff;
    position: absolute;
    top: -9px;
    left: -9px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}
.inv:after{
    content: "";
    display: block;
    position: absolute;
    top: -9px;
    right: -9px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}
.inv .invbtm:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -9px;
    left: -9px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}
.box .invbtm:after{
    content: "";
    display: block;
    position: absolute;
    bottom: -9px;
    right: -9px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}
div {
    display: -webkit-flex; 
    -webkit-align-items: center; 
    display: flex;
    align-items: center;
} 
*/