</div> 

<footer>
  
  <div id="copycrumbs">
    <div class="copyright">&copy; Barracks.Tech {{ if eq .Title .Site.Title }}{{ .Site.LastChange.Format "2006" }}{{ else }}{{ .Date.Format "2006" }}{{ end }} - All Rights Reserved Unless Specified Otherwise</div>
    <div class="copyrightrans">a service of the <a href="http://erepublic.party" target="_blank">eRepublic</a></div>
    <div class="copyrightrans"><a href="mailto:&#101;&#116;&#099;&#064;&#098;&#097;&#114;&#114;&#097;&#099;&#107;&#115;&#046;&#116;&#101;&#099;&#104;">&#101;&#116;&#099;&#064;&#098;&#097;&#114;&#114;&#097;&#099;&#107;&#115;&#046;&#116;&#101;&#099;&#104;</a></div>
  </div>
</footer>
<script type="text/javascript">stLight.options({publisher: "b1b73df0-8e6d-4ea6-a856-d32fd3fcb7f2", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "b1b73df0-8e6d-4ea6-a856-d32fd3fcb7f2", "position": "right", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["tumblr", "twitter", "facebook", "pinterest", "googleplus", "email"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>
</body>
</html>
