<header>
  <div id="toppo">

  <div class="bnr0">
    <h1 class="oversite"><!--span class="bnra">{</span--><span class="bnrb">tech<span class="bnrc">//</span>barracks</span><!--span class="bnra2">}</span--></h1>
    <!--h1 id="fittext2" class="oversite"><span class="bnra">{</span><span class="bnrb">tech<span class="bnrc">.</span>barracks</span><span class="bnra2">}</span></h1>
    <h1 id="fittext3" class="oversite"><span class="bnra">{</span><span class="bnrb">tech<span class="bnrc">.</span>barracks</span><span class="bnra2">}</span></h1-->
  </div>

</div>
  
  <div class="headerimg">
    <a href="https://barracks.tech/index.html"><img class="mobi" src="https://barracks.tech/img/arch/home32.png" onmouseover="this.src='https://barracks.tech/img/arch/home32alt.png'" onmouseout="this.src='https://barracks.tech/img/arch/home32alt0.png'" alt="home"></a>
        <a class="mobi" href="https://barracks.tech/submissions" target="_blank"><img class="mobi" src="https://barracks.tech/img/arch/submit32.png" onmouseover="this.src='https://barracks.tech/img/arch/submit32alt.png'" onmouseout="this.src='https://barracks.tech/img/arch/submit32alt0.png'" alt="submit content"></a>
    <a class="mobi" href="https://barracks.tech/list.html" onclick="return mail('https://barracks.tech/list.html')"><img class="mobi" src="https://barracks.tech/img/arch/mail32.png" onmouseover="this.src='https://barracks.tech/img/arch/mail32alt.png'" onmouseout="this.src='https://barracks.tech/img/arch/mail32alt0.png'" alt="subscribe"></a>
    <a class="mobi" href="http://github.com/paulmadore/barracks.tech.themes" target="_blank"><img class="mobi" src="https://barracks.tech/img/arch/git32.png" onmouseover="this.src='https://barracks.tech/img/arch/git32alt.png'" onmouseout="this.src='https://barracks.tech/img/arch/git32alt0.png'" alt="fork.theme"></a>
    <a class="mobi" href="https://barracks.tech/index.xml"><img class="mobi" src="https://barracks.tech/img/arch/rss32.png" onmouseover="this.src='https://barracks.tech/img/arch/rss32alt.png'" onmouseout="this.src='https://barracks.tech/img/arch/rss32alt0.png'" alt="subscribe to feed"></a>
    <a class="mobi" href="https://twitter.com/techbarracks" target="_blank"><img class="mobi" src="https://barracks.tech/img/arch/twitter32.png" onmouseover="this.src='https://barracks.tech/img/arch/twitter32alt.png'" onmouseout="this.src='https://barracks.tech/img/arch/twitter32alt0.png'" alt="on twitter"></a>
    
  </div>
</header>
