{{ $baseurl := .Site.BaseURL }}
<article class="single" itemscope itemtype="http://schema.org/BlogPosting">

  
  <section class="body" itemprop="articleBody">
    <h1 class="headline" itemprop="headline">{{ .Title }}</h1>
    <h3>{{ if .Params.author }}
    {{ .Params.author }}
    {{ end }}</h3>
     <!--div style="background:transparent;width:20%;z-index:20;">
        
        <div class="progress-indicator">
            <svg>
                <g>
                    <circle cx="0" cy="0" r="20" stroke="black" class="animated-circle" transform="translate(50,50) rotate(-90)"  />
                </g>
                <g>
                    <circle cx="0" cy="0" r="38" transform="translate(50,50) rotate(-90)"  />
                </g>
            </svg>
            <div class="progress-count"></div>
        </div>
    </div-->
    {{ .Content }}
  </section>
  <section  class="authorbio">
    <blockquote>
      {{ if .Params.authorbio }}
    {{ .Params.authorbio }}
    {{ end }}
    </blockquote>
  </section>
  
    <div class="metart">
    <span class="key">published on</span>
    <span class="val"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
{{ with .Params.categories }}
    <span class="key">in</span>
    <span class="val">
{{ range . }}
        <a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ . }}</a>
{{ end }}
    </span>
{{ end }}
{{ with .Params.tags }}
    <br>
    <span class="key">tags:</span>
    <span class="val">
{{ range . }}
        <a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a>
{{ end }}
    </span>
{{ end }}
  </div>
   
</article>
<section class="comments">
    
   {{ template "_internal/disqus.html" . }}
   </section>
