@font-face {
    font-family: 'believer';
    src: url('f/believer.eot');
    src: url('f/believer.eot?#iefix') format('embedded-opentype'),
         url('f/believer.woff2') format('woff2'),
         url('f/believer.woff') format('woff'),
         url('f/believer.ttf') format('truetype'),
         url('f/believer.svg#believer') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hack';
    src: url('f/hack.eot');
    src: url('f/hack.eot?#iefix') format('embedded-opentype'),
         url('f/hack.woff2') format('woff2'),
         url('f/hack.woff') format('woff'),
         url('f/hack.ttf') format('truetype'),
         url('f/hack.svg#hack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'glacial';
    src: url('f/glacial.eot');
    src: url('f/glacial.eot?#iefix') format('embedded-opentype'),
         url('f/glacial.woff2') format('woff2'),
         url('f/glacial.woff') format('woff'),
         url('f/glacial.ttf') format('truetype'),
         url('f/glacial.svg#glacial') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'wheel';
    src: url('f/wheel.eot');
    src: url('f/wheel.eot?#iefix') format('embedded-opentype'),
         url('f/wheel.woff2') format('woff2'),
         url('f/wheel.woff') format('woff'),
         url('f/wheel.ttf') format('truetype'),
         url('f/wheel.svg#wheel') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fifteen';
    src: url('f/fifteen.eot');
    src: url('f/fifteen.eot?#iefix') format('embedded-opentype'),
         url('f/fifteen.woff2') format('woff2'),
         url('f/fifteen.woff') format('woff'),
         url('f/fifteen.ttf') format('truetype'),
         url('f/fifteen.svg#fifteen') format('svg');
    font-weight: normal;
    font-style: normal;

}